#short_news {
    position: relative;
    top: 200px;
    left: -80px;
    border-spacing: 40px;
    float: left;
}

#short_infos {
    position: absolute;
    top: 200px;
    border-spacing: 40px;
    margin-left: 250px;
}

#short_infos table {
    border-spacing: 1rem;
    border-collapse: separate;
}

#important-news-window {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 100; /* Sit on top */
    width: 100%;
    height: 100%;
    top: 0;
}

/* Modal Content/Box */
#important-news-window-content {
    position: fixed;
    width: 70%;
    left: 12%;
    top: 5%;
    padding: 20px;
    background: url('../bilder/layout/angry-birds-bg.jpg') no-repeat center top;
    background-size: cover;
}

#loaded-news-content {
    background-color: rgba(0, 119, 98, 0.9);
    padding: 10px;
}
