#short_news {
    position: relative;
    top: 200px;
    left: -80px;
    border-spacing: 40px;
    float: left;
}

#short_infos {
    position: absolute;
    top: 200px;
    border-spacing: 40px;
    margin-left: 250px;
}

#short_infos table {
    border-spacing: 1rem;
    border-collapse: separate;
}

#important-news-window {
    display: none;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
}

#important-news-window-content {
    position: fixed;
    width: 70%;
    left: 12%;
    top: 5%;
    padding: 20px;
}

#loaded-news-content {
    background-color: rgba(0, 119, 98, 0.9);
    padding: 10px;
}

#banner-news {
    position: absolute;
    left: 3%;
    top: 50px;
    width: 100%;
    height: 150px;
    background: url('../bilder/layout/angry-birds-bg.jpg') no-repeat center center;
    background-size: cover;
}

#banner-news-content {
    background-color: rgba(0, 119, 98, 0.8);
    padding: 10px;
    height: 88%;
    color: #ffffff;
}

#banner-news-content tr,
#banner-news-content td {
    width: 25%;
}

@media only screen and (max-width: 960px) {
    #banner-news {
        position: absolute;
        left: 25%;
        top: 50px;
        width: 85%;
        height: 150px;
        background: url('../bilder/layout/angry-birds-bg.jpg') no-repeat center center;
        background-size: cover;
    }

    #short_news {
        position: relative;
        top: 200px;
        left: -20px;
        border-spacing: 40px;
        float: left;
    }
}