@CHARSET "UTF-8";

/*   CSS Pfadi Gösgen
*	 Screen-CSS Version 1
*
*	---------------------------------------------------
*	
*	Farben:		blau:	#253073, 
				violet:	#830262
				grün:	#007762
				beige:	#DBCD95
				hell:	#F9EFC5
				
*	Bilder:
*	
*	Schriften:		Museo 500 / 700 / 900
*	
*	---------------------------------------------------
*	
*	
*	¬© 2009 ApolloGraphic, Oliver Steiner
*	
*/

/* @group Allgemein */
html, body, div, p, h1, h2, h3, ul, ol, span, a, table, td, form, img, li {
    margin: 0px;
    padding: 0px;
    font: normal 11px/1.6em "Lucida Grande", Lucida, Verdana, sans-serif;
    text-decoration: none;
}

body { /*TODO rst font-size: 100.01%; */
    top: 0px;
    left: 0px;
}

p {
    margin-bottom: 10px;
}

/* @end */

/* @group Layout */
#mitte {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    text-align: left;
    position: relative;
    width: 730px;
    margin-bottom: 50px;
}

#fuss {
    position: fixed;
    text-align: left;
    width: 100%;
    color: white;
    background-color: #007762;
    bottom: 0;
    border-top: 3px solid #830262;
    z-index: 40;
}

#fuss div {
    margin-left: 30px;
    margin-bottom: 3px;
    margin-top: 3px;
}

#fb-wrapper {
    bottom: -3px;
    display: inline;
    left: 27em;
    position: absolute;
}

.fb-like {
    margin-left: -20px;
}

#navigation {
    position: absolute;
    left: -80px;
}

#navigation .active a {
    top: -20px;
    background-color: #830262;
    border: 1px solid white;
}

#navigation_background {
    position: absolute;
    width: 900px;
    height: 151px;
    top: -80px;
}

#navigation_content {
    z-index: 5;
    position: relative;
    text-align: center;
    left: 160px;
}

.hr_quadrat {
    background: url(../bilder/layout/hr_quadrat-trans.png) no-repeat;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 10px;
    border-style: none;
    clip: rect(5px 100% 6px 0);
    margin-top: 20px;
    margin-bottom: 40px;
}

ul.navigation {

}

ul.navigation li {
    display: inline;
}

ul.navigation li a {
    color: white;
    width: 90px;
    padding-top: 100px;
    top: -90px;
    margin-right: 10px;
    background-color: #007762;
    text-align: center;
    display: inline-block;
    position: relative;
    padding-bottom: 15px;
    text-decoration: none;
    border: 1px solid white;
}

ul.navigation li a {

}

ul.navigation li a:hover {
    background-color: #830262;
    top: -95px;
}

ul.navigation li a span {
    text-transform: uppercase;
    z-index: 40;
    font: 12px Museo;
    text-decoration: none;
}

#content {
    position: relative;
    padding-top: 170px;
    margin-left: 30px;
    width: 400px;
    min-height: 600px;
    background: url(../bilder/layout/weiss_90pro-trans.png) repeat;
    padding-left: 20px;
    padding-right: 20px;
    top: 60px;
}

#content ul {
    list-style-type: none;
}

#content ul li {
    clear: both;
}

#content ul li ul li {
    list-style-type: square;
    font: normal 0.9em/1.5em "Lucida Grande", Lucida, Verdana, sans-serif;
    color: #000;
    padding-left: 20px;
    list-style-position: inside;
}

#logo {
    position: absolute;
    left: 50px;
    top: 50px;
    display: block;
    z-index: 10;
    margin-bottom: 40px;
}

#logo a:hover {
    border: 0px;
    text-decoration: none;
    color: transparent;
    background-color: transparent;
}

/*

 @end */

/* @group Listen */
.formate {
    list-style-type: none;
}

/* @end */

/* @group Tabellen */
table.text {

}

table.text td, table.text th {
    vertical-align: top;
    padding-bottom: 10px;
    padding-right: 15px;
}

td {
    vertical-align: top;
}

/* @end */

/* @group Formatierungen */
.gross {
    font-size: 1.1em
}

.rechts {
    text-align: right
}

.links {
    text-align: left
}

strong {
    font-weight: bold
}

.c {
    clear: both
}

.linkliste {

}

.liste {

}

.klein {
    font-size: 10px;
    line-height: 13px;
}

.copy a:link {
    text-decoration: none;
    color: #000;
    text-align: center;
    margin-top: 5px;
    font: normal 12px/16px "Lucida Grande", Lucida, Verdana, sans-serif;
}

.copy a:hover {

}

a:link {

}

a:hover {
    text-decoration: underline;
}

img:hover {
    background-color: transparent;
}

a:visited {

}

a:active {

}

/* @end */

/* @group Text */
a {
    color: #9d0000;
}

h1 {
    color: #830262;
    font: bold 1.5em Museo, Georgia, "Times New Roman", Times, serif;
    margin-bottom: 7px;
    letter-spacing: 0.1em;
}

h2 {
    font: bold 1em/1.3em "Lucida Grande", Lucida, Verdana, sans-serif;
    text-decoration: none;
    color: #000;
    margin-bottom: 7px;
}

h3 {
    color: red;
    font-weight: bold;
    font-size: 12px;
    padding: 0;
    margin: 0 0 2px;
}

h4 {
    font: normal 0.7em/1.1em "Lucida Grande", Lucida, Verdana, sans-serif;
    text-decoration: none;
    color: #000;
    text-align: right;
}

h5 {
    font: normal 0.9em/1.1em "Lucida Grande", Lucida, Verdana, sans-serif;
    text-decoration: none;
    color: #000;
}

/* @end */

/* @group Bilder */
img {
    border: 0px
}

.pointer {
    curser: pointer;
}

li.pdf {
    list-style-image: url(../bilder/symbole/pdf.gif) !important;
    list-style-position: inside !important;
}

address {
    text-decoration: none;
    margin: 10px;
    font: normal bold 1em/1.3em, Helvetica, Geneva, sans-serif;
}

.required {
    color: #c90d0c;
}

.content_abstand {
    height: 150px;
}

.news_bild { /*border: 1px solid black;*/
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    clear: both;
}

.news_foto {
    width: 170px;
    float: left;
    clear: both;
    margin-top: 5px;
}

.news_text {
    margin-left: 180px;
}

hr {
    margin-top: 8px;
    margin-bottom: 18px;
    border-top: 1px solid silver;
    clear: both;
}

/* @group Info Kasten */
#info_kasten {
    position: absolute;
    top: 200px;
    left: 500px;
}

.info_kasten {
    width: 270px;
    background-color: #f2f2f2;
    /* schatten */
    /* runde Ecken */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    z-index: 30;
    margin-bottom: 30px;
}

.info_kasten_inhalt {
    padding: 10px 10px 20px 20px;
}

.info_kasten ul {
    margin-bottom: 10px;
}

.info_kasten li {
    width: auto;
    list-style-type: none;
    font-size: 11px;
    padding-left: 10px;
    padding-top: 5px;
}

.info_kasten li {
    border-bottom: 1px solid silver;
}

.info_kasten li:hover {
    color: white;
    background-color: silver;
}

.info_kasten div.cover {
    width: 60px;
    height: 60px;
    position: relative;
    background-color: white;
    border: 1px solid black;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.info_kasten h1 {
    color: white;
    background-color: #DBCD95;
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    width: auto;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font: bold 14px Museo, "Helvetica Neue", Arial, Helvetica, Geneva,
    sans-serif;
    /*schatten */
    box-shadow: 0px 5px 5px #cbcbcb;
    -moz-box-shadow: 0px 5px 5px #cbcbcb;
    -khtml-box-shadow: 0px 5px 5px #cbcbcb;
    -webkit-box-shadow: 0px 5px 5px #cbcbcb;
    border: 1px solid white;
}

.info_kasten a {
    color: gray;
}

.info_kasten a:hover {
    color: black;
}

/* @end */
div.buttons {
    padding-bottom: 5px;
    background-color: silver;
    padding-left: 20px;
    position: relative;
    top: -5px;
    padding-top: 5px;
}

div.buttons span:hover {
    color: black;
}

div.buttons span {
    cursor: pointer;
    color: gray;
    text-align: center;
    /* runde ecken */
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 3px;
    /* schatten */
    display: inline-block;
    padding: 1px 5px;
    margin-right: 10px;
    border: 1px solid gray;
    background-color: #e8e8e8;
}

.download_box {
    text-decoration: none;
    padding: 5px;
    margin: 0 5px 5px;
    text-align: left;
}

.download_box img {
    padding-right: 5px;
}

.download_box a {
    text-decoration: none;
}

.download_box:hover {
    color: white;
    background-color: silver;
}

.anschlag {

}

.anschlag h2 {
    font: bold 14px Museo, "Helvetica Neue", Arial, Helvetica, Geneva,
    sans-serif;
}

.anschlag h3 {
    font: bold 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: black;
}

.anschlag table {

}

.anschlag th {
    vertical-align: top;
    padding-right: 10px;
}

.anschlag td {
    padding-right: 8px;
}

.anschlag.titel {

}

.anschlag.abtreten {

}

.anschlag.mitnehmen {

}

.anschlag div.text {
    padding-bottom: 10px;
    font-size: 11px;
}