
#@__HCP_END__@#
# Anything after the comment above is left alone

AddCharset UTF-8 .html

DirectoryIndex index.php

Redirect 301 /index.html /index.php

<IfModule mod_expires.c>
    Header set Cache-Control "public"
    ExpiresActive on
    ExpiresByType text/cache-manifest "access plus 0 seconds"
</IfModule>